body {
    font-family: 'Roboto', sans-serif;
    color: #3d65e6;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.container-add-task-form {
    display: flex;
    justify-content: center;
}

.writing-bar {
    width: 12rem;
    border: none;
    height: 1.6rem;
    transition: width 0.4s ease-in-out;
    color: #3d65e6;
    font-weight: 500;
    font-size: 1.2rem;
}

.writing-bar::placeholder {
    font-weight: 500;
    color: #b1b0b0;
    font-size: 1rem;
}

.writing-bar:focus {
    outline: none;
    border-bottom: 2px solid #3d65e6;
    width: 80%;
}

.wrong-bar {
    border-bottom: 2px solid red;
}

.wrong {
    color: #FA8E88;
}

.success {
    color: green;
}

.hide {
    display: none;
}

.task-form-message {
    font-size: .8rem;
}


.buttom {
    margin-top: 1.8rem;
    width: 20rem;
    height: 1.6rem;
    border-radius: 1rem;
    background-color: #CCD5F3;
    border: 0px;
    font-weight: bold;
    font-size: 1rem;
    color: #3d65e6;
}

.buttom:hover {

    color: white;
    background-color: #3d65e6;

}

h2 {
    font-weight: 100;
    margin: .5rem;
}

ul > li {

    list-style: none;
    text-align: start;
}

li > a {
    color: #3d65e6;
}

.add-task-icon {
    cursor: pointer;
    font-size: 1.7rem;
}

.container-tasks-list {
    display: flex;
    flex-direction: column;
}

.container-task-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ul-pending-tasks {
    padding: 0;
    text-align: center;
}

.ul-pending-tasks li {
    display: flex;
    justify-content: space-between;
    height: 1.7rem;

    background-color: beige;
    height: 2rem;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.ul-pending-tasks li p {
    display: flex;
    align-self: center;
}

.container-tasks-pending,
.container-tasks-completed {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-tasks-pending form, 
.tasks-completed-wrap {
    width: 60%;
}

.container-tasks-pending h2,
.container-tasks-completed h2 {
    text-align: center;
}

.container-tasks-completed li p {
    text-decoration: line-through;
    color: #A9B4CF;
}

.container-tasks-completed .undo-link {
    text-decoration: none;
}

.container-status-message {
    text-align: center;
}

@media screen and (min-width: 576px) {
    .container-tasks-list {
        display: flex;
        flex-direction: row;
    }
}